<header>
  <h1>Todo List</h1>
</header>
<form>
  <label for="task" class="label-name">
    <input
      type="text"
      class="todo-input"
      name="task"
      autocomplete="off"
      required
      [(ngModel)]="taskName"
    />
    <span class="add-task">Add task!</span>
  </label>
  <button class="todo-button" type="submit" (click)="addTaskToArray()">
    <i class="fas fa-plus-square"></i>
  </button>
  <div class="select" (change)="changeList($event.target.value)">
    <select name="todos" class="filter-todo">
      <option value="all" selected>All</option>
      <option value="completed">Completed</option>
      <option value="uncompleted">Uncompleted</option>
    </select>
  </div>
</form>
<div *ngIf="all">
  <div [ngClass]="all ? 'todo-container' : 'todo-container-none'">
    <ul class="todo-list">
      <ng-container *ngFor="let task of taskList; let i = index">
        <div
          [ngClass]="task.deleted ? 'todo-fall' : ''"
          (transitionend)="deleteTask(i)"
        >
          <div class="todo">
            <li [ngClass]="task.done ? 'completed' : ''">{{ this.task.name }}</li>
            <button
              [ngClass]="task.deleted ? 'markButton-fall' : 'markButton'"
              type="submit"
              (click)="changeTaskActivity(i)"
            >
              <i class="fas fa-check-square"></i>
            </button>
            <button
              [ngClass]="task.deleted ? 'trashButton-fall' : 'trashButton'"
              type="submit"
              (click)="activeDeleteTask(i, this.taskName, true)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </ul>
  </div>
</div>
<div *ngIf="completed">
  <div [ngClass]="completed ? 'todo-container' : 'todo-container-none'">
    <ul class="todo-list">
      <ng-container *ngFor="let task of inactiveTaskList; let i = index">
        <div
          [ngClass]="task.deleted ? 'todo-fall' : ''"
          (transitionend)="deleteTask(i)"
        >
          <div class="todo">
            <li [ngClass]="task.done ? 'completed' : ''">{{ this.task.name }}</li>
            <button
              [ngClass]="task.deleted ? 'markButton-fall' : 'markButton'"
              type="submit"
              (click)="changeTaskActivity(i)"
            >
              <i class="fas fa-check-square"></i>
            </button>
            <button
              [ngClass]="task.deleted ? 'trashButton-fall' : 'trashButton'"
              type="submit"
              (click)="activeDeleteTask(i, this.taskName, true)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </ul>
  </div>
</div>
<div *ngIf="uncompleted">
  <div [ngClass]="uncompleted ? 'todo-container' : 'todo-container-none'">
    <ul class="todo-list">
      <ng-container *ngFor="let task of activeTaskList; let i = index">
        <div
          [ngClass]="task.deleted ? 'todo-fall' : ''"
          (transitionend)="deleteTask(i)"
        >
          <div class="todo">
            <li [ngClass]="task.done ? 'completed' : ''">{{ this.task.name }}</li>
            <button
              [ngClass]="task.deleted ? 'markButton-fall' : 'markButton'"
              type="submit"
              (click)="changeTaskActivity(i)"
            >
              <i class="fas fa-check-square"></i>
            </button>
            <button
              [ngClass]="task.deleted ? 'trashButton-fall' : 'trashButton'"
              type="submit"
              (click)="activeDeleteTask(i, this.taskName, true)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </ul>
  </div>
</div>
